OPENAI_API_KKEY=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
PEXELS_API_KEY= # crucial for the project to work
LOG_LEVEL=trace # trace, debug, info, warn, error, fatal, silent
WHISPER_VERBOSE=true
PORT=3123
DEV=true # local development mode
DATA_DIR_PATH= # only for docker, otherwise leave empty

